.list {
  background-color: #C19A6B;
  width: 85rem;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search, .filter {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.btn {
  padding: 0.5rem 0.8rem;
  border-color: transparent;
  border-radius: 0.5rem;
  background-color: #ECD540;
  cursor: pointer;
  color: black;
}

.btn:hover {
  background-color: #ad9c2f;
}

.reset {
  padding: 0.5rem 0.8rem;
  border-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgb(255, 43, 43);
}

.reset:hover {
  background-color: rgb(155, 26, 26);
}

.search input, .search select, .filter input, .filter select {
  padding: 0.5rem;
}

a, .link{
  color: white;
}

a:hover, .link:hover {
  color: rgb(180, 180, 180);
}

table, tr, th, td {
  border: 0.1rem solid white;
}

table {
  border-collapse: collapse;
  padding: 0.8rem;
  width: 100%;
  table-layout: fixed;
}

tr {
  height: 4rem;
}

tbody tr td {
  padding: 0.8rem;
  word-wrap: break-word;
}

.pagination {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.disabled {
  background-color: #ad9c2f;
}
